html, body, #root {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #052048;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #052048;
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 220px;
  gap: 5px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

.panel {
  background-color: #093978;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #0029a3;
}

.top-left {
  height: 30px;
  flex: 0 0 30px;
  display: flex;         
  align-items: center;  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
.bottom-left {
  flex: 1; 
}

.top-right {
  display: flex;
  flex-direction: row; 
  align-items: center;
  width: 100%;       
  height: 30px;          
  flex-wrap: nowrap;             
  box-sizing: border-box;
}

.middle-right {
  flex: 1;
  position: relative;   
  overflow: hidden;    
}
.bottom-right {
  height: 30px;
  flex: 0 0 30px;
}

.settings {
  height: 20px;
}

#middle-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
